@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
}

img {
	width: 100%;
    display: block;
}

header {
	overflow: hidden;
	background-color: #f2ecce;
	padding: 0;
}

.logo {
	width: 4rem;
	height: auto;
	margin: .75rem 5%;
	float:left;
}

body {
	margin: 0;
	padding: 0;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	height: 70px;
    width: 70px;
	overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5%;
	
	background: transparent url("../images/icon-nav.svg") no-repeat 0 0;

	text-indent: 100%;
	white-space: nowrap; 
}

.nav-top {
	max-height: 0; /* makes the area invisible */
    background-color: #89aabd;
    clear: both; /* Comes after the content that floats above */

	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 15em;
}

.nav-top ul { 
	margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: block;
	font-size: 1.25em;
	font-weight: 400;
    padding: 1.5rem 0;
	color: #f2f3f2;
	text-decoration: none;
}

.nav-top a:hover{
	background-color: #adccd8;
}


.billboard {
	overflow: hidden;
	background-image: url(../images/driftwood.jpg);
	background-repeat: no-repeat;
	background-color: #f2ecce;
	background-position: center center;
	background-size: 60rem;
}

h1 {
	margin: 6rem 0;
	background-color: rgba(242, 236, 206, .8);
	font-weight: 800;
	font-size: 2.5rem;
	color: #727372;
	text-align: center;
	text-decoration: non
}

article {
	margin: 0;
	padding: 1.5rem 5%;
	background-color: #f2f3f2;
}

.pagehead {
	margin: 0 0 1.5rem 0;
	padding: 0;
	background-color: #f2f2f2;
	font-weight: 800;
	font-size: 2.25rem;
	color: #727372;
	text-align: left;
	text-decoration: none;
}

h2 {
	margin: 0 0 .5rem;
	font-size: 1.5rem;
	font-weight: 700;
	color: #89aabd;
}

p {
	line-height: 1.5rem;
	font-size: 1.25rem;
	font-weight: 400;
}

/* Following bucket found on index.html */
.bucket1 {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    background-color: none;

    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;;
    text-align: right;

}

.bucket1 li {
    float: left;
    width: 45%;
    margin: 0 10% 1.5rem 0;
    padding: 0;
}

.bucket1 li:nth-child(even) {
    margin: 0;
}

.bucket1 a,
.bucket1 a:link,
.bucket1 a:visited {
    display: block;
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #f2ecce;
    margin: 0;
    padding: 75% .25rem 0; /* height of image ÷ by width = % */
    color: #727372;
    text-decoration: none;
}


.one {
    background-image: url(../images/wool1.jpg);  
}

.two {
    background-image: url(../images/rope.jpg);
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	padding: 0 .25rem;
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
	text-align: right;
	text-decoration: none;
	color: #727372;
	background-color: #f2ecce;
}

/* Applied only to company.html */
.bucket2 {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    background-color: none;

    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;;
    text-align: right;

}

.bucket2 li {
    float: left;
    width: 45%;
    margin: 0 10% 1.5rem 0;
    padding: 0;
}

.bucket2 li:nth-child(even) {
    margin: 0;
}

.bucket2 a,
.bucket2 a:link,
.bucket2 a:visited {
    display: block;
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #f2ecce;

    color: #727372;
    text-decoration: none;
    text-transform: none;
    font-size: 1.5rem;
    margin: 0;
    padding: 100% 0 0;
}

.bucket2 p {
	text-transform: none;
	text-align: left;	
}

.kayleigh {
    background-image: url(../images/kayleigh.jpg);  
}

.jared {
    background-image: url(../images/jared.jpg);
}

.diane {
    background-image: url(../images/diane.jpg);
}

.cat {
    background-image: url(../images/hunter.jpg);
}


/* Applied only to Products.html */

.bucket3 {
    overflow: hidden;
    margin: 0 0 1.5rem;
    padding: 0;
    background-color: none;
}

.bucket3 img {
    float: left;
    width: 45%; 
    margin: 0 5% 0 0;
    padding: 0;
}

.bucket3 figcaption {
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;

  	line-height: 1.5rem;
	font-size: 1.25rem;
	font-weight: 400;
	text-align: left;
	text-transform: none;  
}

/* All Footers */

footer {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #f2ecce;
}

footer p{
	font-size: .75rem;
	font-weight: 400;
	text-align: right;
}

.icon {
    margin: 0 5%;
    padding: 1rem 0;
    overflow: hidden;
    list-style: none;
}

.icon li {
    float: left;
    width: 2rem;
    margin: 0 5% 1.5rem 0;
    padding: 0;
}

























